.commandTextContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--t-spacing-1);
  justify-content: center;
}

.commandText {
  color: var(--t-font-color-secondary);
  vertical-align: middle;
  white-space: nowrap;
}

.commandKey {
  box-sizing: content-box;
  align-items: center;
  background-color: var(--t-background-tertiary);
  border: 1px solid var(--t-border-color-medium);
  border-radius: var(--t-border-radius-sm);
  box-shadow: var(--t-box-shadow-underline);
  display: flex;
  flex-direction: column;
  height: 18px;
  justify-content: center;
  text-align: center;
  width: var(--t-spacing-4);
}
